<!doctype html>
<html>
<head>
  <title>checklist-app: Login or Signup</title>
</head>
<body>
  <div id="app">
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a style="font-weight: bold" href="/profile.html">Profile</a></li>
      <li><a href="/projects.html">Projects</a></li>
    </ul>

    <h1>Welcome, {{ name }}</h1>
    <h2>Your profile</h2>

    <span style="font-weight: bold">Name: </span><span>{{ name }}</span>
    <br>
    <span style="font-weight: bold">Email: </span><span>{{ email }}</span>
    <br>
    <span v-if="isAdmin">You are an administrator.</span>
    <span v-if="!isAdmin">You are not an administrator.</span>
  </div>

  <script src="https://unpkg.com/vue"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue-toast-notification"></script>
  <link href="https://cdn.jsdelivr.net/npm/vue-toast-notification/dist/index.css" rel="stylesheet">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link href="styles.css" rel="stylesheet">
  <script src="profile.js"></script>
</body>
</html>
