<!doctype html>
<html>
<head>
<title>checklist-app: Projects</title>
</head>
<body>
  <div id="app">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/profile.html">Profile</a></li>
      <li><a style="font-weight: bold" href="/projects.html">Projects</a></li>
    </ul>

    <h1>Welcome, {{ name }}</h1>

    <div>

      <h2>Your projects</h2>

      <button v-on:click="addProject()">Add New Project</button>

      <div id="projects-container">

        <div class="project" v-for="(project, i) in projects">

          <h3>{{ project.name }}</h3>

          <div v-for="(task, j) in project.tasks">
            <input type="checkbox" v-model="project.tasks[j].completed" v-on:change="taskUpdate(i, j)">
            <span>{{ task.name }}</span>
          </div>

          <button v-on:click="addTask(i)">Add Task</button>

          <div class="project-progress-bar">
            <span>{{ projectProgress(i) }}%</span>
            <div v-bind:style="{ width: projectProgress(i) + '%' }"></div>
          </div>

        </div>

      </div>

    </div>

    <br>


    <div>
      <h2>Your recently completed tasks</h2>

      <div id="recently-completed-tasks-container">

        <div v-for="task in recentlyCompletedTasks">
          <input type="checkbox" checked="checked" disabled="disabled">
          <span>{{ task.projectName }}: {{ task.taskName }}</span>
        </div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue-toast-notification"></script>
  <link href="https://cdn.jsdelivr.net/npm/vue-toast-notification/dist/index.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.0/dist/vuejs-dialog.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.0/dist/vuejs-dialog.min.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link href="styles.css" rel="stylesheet">
  <script src="projects.js"></script>
</body>
</html>
