h1 {
  text-align: center;
}

#login-container, #signup-container {
  position: absolute;
  float: left;
  margin: 5em;
}
#login-container {
  right: 50%;
}
#signup-container {
  left: 50%;
}


#projects-container {
  position: absolute;
  top: 2em;
  margin-left: 1em;
}

#recently-completed-tasks-container {
  position: absolute;
  bottom: 2em;
  margin-left: 1em;
}

.project {
  float: left;
  width: 20em;
  border: 1px solid black;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;
}
