h1, h2, h3, p, span, a, button, label {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

span, a, label {
  font-size: 16px;
}

h1 {
  text-align: center;
}

button {
  font-size: 12px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d3d3d3;
}

.nav > li {
  float: left;
}

.nav > li a {
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.nav > li:hover, .nav > li > a:hover {
  background-color: #ededed;
}

#login-container, #signup-container {
  position: absolute;
  float: left;
  margin: 5em;
}

#login-container > h2, #signup-container > h2 {
  text-align: center;
  margin-bottom: 25px;
}

#login-container > *, #signup-container > * {
  margin-bottom: 10px;
}

#login-container > button, #signup-container > button {
  font-size: 16px;
  left: 50%;
  position: relative;
  transform: translate(-50%);
}

#login-container {
  right: 50%;
}
#signup-container {
  left: 50%;
}

#profile-container {
  margin: 5em;
}

#profile-container > span {
  font-size: 18px;
  display: block;
}

#projects-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin-left: 1em;

  overflow-x: scroll;
}

#recently-completed-tasks-container {
  margin-left: 1em;
  height: 20vh;
  overflow: scroll;
  padding-right: 3em;
}

.project {
  flex: none;
  float: left;
  width: 15vw;
  height: 35vh;
  border: 1px solid black;
  margin-right: 1em;
  margin-bottom: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;
  overflow: scroll;
}


.project-progress-bar {
  position: relative;
  left: 10%;
  width: 80%;
  height: 1em;
  margin-top: 1em;
  border: 1px solid black;
}

.project-progress-bar > div {
  height: 100%;
  background-color: #8eea96;
  transition: width 1s;
}

.project-progress-bar > span {
  position: absolute;
  width: 100%;
  text-align: center;
}


#new-project-button {
  font-size: 18px;
  margin: 20px;
}

#switch-project-user-container {
  margin-left: 40px;
  margin-right: 40px;
}
